body:not(.dark-mode) {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}


.dark-mode {
  background-image: url('../images/black-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#dark-mode-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.dark-mode-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.game-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.dark-mode-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.game-button:hover {
  cursor: pointer;
  background-color: #326842;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card {
  width: 100px;
  height: 150px;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.game-section {
  margin-top: 20px;
  text-align: center;
}

.card-wrapper {
  margin: 0 5px;
}

.title {
  margin-top: 100px;
}

.title h1 {
  font-size: 32px;
  margin-bottom: 20px;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.box {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 6rem;
  height: 500px;
}

.login-container label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
}

.login-container input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.login-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #326842;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.login-button:hover {
  background-color: #2c563e;
}

@media screen and (max-width: 768px) {
  .login-container input {
    width: 100%;
  }
}