body:not(.dark-mode) {
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}


.dark-mode {
  background-image: url('../images/black-2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#dark-mode-container {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.dark-mode-icon {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2rem 0;
}

.game-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.dark-mode-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
}

.game-button:hover {
  cursor: pointer;
  background-color: #326842;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card {
  width: 100px;
  height: 150px;
}

.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.game-section {
  margin-top: 20px;
  text-align: center;
}

.card-wrapper {
  margin: 0 5px;
}

body {
  background-color: #fff;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

